@use "presets" as *;
@use "mixins" as *;

.footer {
    padding-top: $gap * 3;

    color: $color-gray;
    background-color: $color-dark;

    ul {
        padding: 0;

        list-style: none;
    }

    a {
        color: $color-gray-dark;

        &:hover {
            color: $color-white;
        }
    }
}

.footer-author {
    margin: 20px 0;

    text-align: center;

    a {
        color: $color-gray;
    }
}
